[user]
	email = huydo862003@gmail.com
	name = Huy-DNA
[credential "https://github.com"]
	helper = 
	helper = !/nix/store/k1mz8h5qx2vw41mjgi80bvyzkrdbbg9y-gh-2.99.0/bin/.gh-wrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/k1mz8h5qx2vw41mjgi80bvyzkrdbbg9y-gh-2.99.0/bin/.gh-wrapped auth git-credential
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
