[user]
	email = huydo862003@gmail.com
	name = Huy-DNA
[credential "https://github.com"]
	helper = 
	helper = !/nix/store/dpiajg8vgzpaq74jc79j01fd5bja3cik-gh-2.98.0/bin/.gh-wrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/dpiajg8vgzpaq74jc79j01fd5bja3cik-gh-2.98.0/bin/.gh-wrapped auth git-credential
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
